
#apropos {
    padding: 20px;
    line-height: 1.6;
    text-align: center;
}

/* Sélecteur combiné */
.galerie .projet:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}